body{
    /* min-height: 90vh; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: rgb(222, 152, 222);
}
.petal{
    height: 20vh;
    width: 20vh;
    border-radius: 25vh 0 25vh 10vh ;
    /* background-image: radial-gradient(white,yellow,orange); */
    background-image: radial-gradient(white,rgb(184, 3, 184), rgb(117, 7, 117));
}
.petal.inner{
    height: 15vh;
    width: 15vh;
}
.petalCont.inner{
    min-height: 30vh;
    min-width: 30vh;
}
.petal.inner2{
    height: 10vh;
    width: 10vh;
}
.petalCont.inner2{
    min-height: 23vh;
    min-width: 23vh;
}
.center{
    /* height: 1vh;
    width: 1vh; */
    background-color: brown;
}
.petalCont{
    /* min-height: 40vh;
    min-width: 40vh; */
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.flower{
    position: absolute;
    top: 57px;
    left: 192px;
    display: flex;
    /* min-height: 40vh;
    min-width: 40vh;
    max-height: 40vh;
    max-width: 40vh; */
height: 40%;
    align-items: center;
    justify-content: center;
}

.text{
    position: absolute;
    bottom: 86px;
    width: 100%;
}
.para{
    width: 100%;
    font-family: cursive;
    text-align: center;
    font-size: 35px;
    color: rgb(184, 3, 184);
}
@keyframes rotate {
    from{ transform: rotate(0deg); }
    to{    }
}

@media (min-width: 576px) {
    .flower {
        display: block;
    }
}

.heart{
    height: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 298px;
    left: 157px;
 
}


.right{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    border-radius: 50% 50% 50% 0;
    height:100%;
    width: 41px;
    background-color: purple;
}
.left{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    border-radius: 50% 50% 0 50%;
    height:100%;
    width: 41px;
    background-color: purple;
}